<a href="https://colab.research.google.com/github/rhj7513/Python-practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a=[10,2,3,4,5]
for i in range(len(a)):  #i를 a리스트 크기만큼 반복해라
  print(a[i])            #a리스트에 있는 요소를 출력해라

10
2
3
4
5

In [10]:
a=[10,2,3,4,5]
for i in a:
    print(a[i])       #에러 발생

IndexError: ignored

In [11]:
a=[10,2,3,4,5]
i = 0
while i <= len(a):
  print(a[i])
  i += 1

10
2
3
4
5

IndexError: ignored

In [12]:
a=[10, 2, 3, 4, 5]
i = 0
while i < len(a):
  print(a[i])
  i += 1

10
2
3
4
5

In [13]:
a=[10,2,3,4,5]
for i in a:
  print(i)

10
2
3
4
5

In [ ]:
#코딩도장 파이썬 22장 리스트 응용문제 5번

In [14]:
# 리스트[0, 1, 2, 3, 17, 18, 19]만드는 방법
# 1.
a=[i for i in range(20)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [16]:
a = [i for i in range(30) if i < 3 or i > 17]
print(a)

[0, 1, 2, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [17]:
a=[if i <= 3 or i >= 17 for i in range(20)]
print(a)

SyntaxError: ignored

In [18]:
#정답
a = [i for i in range(20) if i <=3 or i >= 17]
print(a)

[0, 1, 2, 3, 17, 18, 19]

In [ ]:
#6번 실수가 들어있는 리스트[4.7, 3.5, 2.9]의 요소를 문자열로 변환하는 방법으로 옳은 것은?
# a는 리스트가 되어야 한다.

In [20]:
a = [4.7, 3.5, 2.9]
a = str([4.7, 3.5, 2.9])
print(a)
print(type(a))

[4.7, 3.5, 2.9]
<class 'str'>

In [21]:
a = [4.7, 3.5, 2.9]
a = map(str,[4.7,3.5,2.9])
print(a)
print(type(a))

<map object at 0x7f8e1e29a790>
<class 'map'>

In [22]:
# 정답!
a = [4.7, 3.5, 2.9]
a = list(map(str, [4.7, 3.5, 2.9]))
print(a)
print(type(a))

['4.7', '3.5', '2.9']
<class 'list'>

In [23]:
a = [4.7, 3.5, 2.9]
a = list(str, [4.7, 3.5, 2.9])
print(a)
print(type(a))

TypeError: ignored

In [24]:
a = [4.7, 3.5, 2.9]
a = map(int, [4.7, 3.5, 2.9])
print(a)
print(type(a))

<map object at 0x7f8e1e27ae90>
<class 'map'>

In [25]:
# 22.9 연습문제
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b=[i for i in a if len(i)==5] #a리스트의 요소 중 글자수가 5인 것들 출력
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [26]:
#위 연습문제 자바식으로 고쳐보기
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
# b=[i for i in a if len(i)==5] #a리스트의 요소 중 글자수가 5인 것들 출력
b=[]
for i in range(len(a)):
  if len(i) == 5:
    b.append(i)
print(b)
# 계속 오류나 슬프당 다시 해봐야지 일단 다른 문제 더 풀고 와유~~~

TypeError: ignored

In [27]:
# 22장 심사문제
# 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 
# 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 
# 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 
# 출력 결과는 리스트 형태라야 합니다.

In [30]:
a,b = map(int, input().split())
x=[2**i for i in range(a,b+1)]
x.pop(1)
x.pop(-2)
print(x)
print(type(x))

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]
<class 'list'>

In [31]:
# 24장 특정단어 개수 세기
paragraph=input().split()
count = 0
for words in paragraph:
  if(words.strip(',.')=='the'):
    count+=1
print(count)

1
0

In [32]:
#24장 높은 가격순으로 출력하기
prices = list(map(int, input().split(';')))
prices.sort(reverse=True)
for i in prices:
  print('{0:>9,}'.format(i))

51900;83000;158000
  158,000
   83,000
   51,900